body { display: flex; justify-content: center; }
.dashboard { width: 160px; margin-left: 30px; font-size: 1.6rem; }
.canvasContainer { position: relative; width: 720px; height: 480px; }
#canvas { position: absolute; width: 100%; height: auto; }

